Qestion :- find θ1 using analytical equation

In [20]:
#given input 
x = [1,2,3,4,5]

In [21]:
len(x)

5

In [22]:
#given output 
y = [2,4,6,8,10]

In [23]:
len(y)

5

In [38]:
num = 0 #numerator  
den = 0 #denominator

In [39]:
for i in range(0, len(x)):
    
    num += (x[i]*y[i])

In [40]:
num

110

In [41]:
for i in range(0, len(x)):
    
    den += (x[i]**2)

In [42]:
den

55

In [43]:
θ1 = num/den

In [44]:
print(θ1)

2.0